################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CMakeSettings.json
/build
/.idea
/cmake-build-debug
