################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vscode/cquery_cached_index
/.vs
/CMakeSettings.json
/build
/.idea
/cmake-build-debug
